body {
    background-color: white;
    margin:0 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* BG pink */
.bgpink {
    background: linear-gradient( #FFA8CC, #FF388B );
    padding-bottom: 10%;
   
}

/* Header */
header {
     /* background-color: aquamarine; */ */
   
   
}

header .logo {
    display: inline-block;
    margin-top: -20px;
    margin-left: 20px;
    height: 150px;
    
}

header .icon {
    float: right;
    display: inline-block;
    margin: 10px 10px;
    /* background-color: gray; */ */
}

.icon img {
    height: 70px;
    float: left;
    margin-top: -20px;
    margin-left: -5px;
    margin-right: -10px;   
    padding: 20px;
}


/* Main */
main {
    /* background-color:; */
    
}

.main-atas {
    width: 100%;
    margin-top: 50px;
    /* background-color: darksalmon; */ */
}

.quote {
   text-align: center;
   color: #262362;
   font-size: 3em;

}

main {
    padding: 100px;
    margin 100px;
    /* background-color: darkolivegreen; */ */
    
}

.container {
    width: 390px;
    /* background-color: darkred; */ 
    margin-top: -130px;
    margin-left: auto;
    margin-right: auto;
}

.tombol {
    display: inline-block;
    background-color: #262363;
    padding: 14px 110px;
    text-align: center;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.7em;
    color: white;
    text-decoration: none;
    
    
    
 
}

/* Footer */

.foot {
    background-color: #c4c4c4;
    height: 70px;
}

footer {
    /* background-color: aquamarine; */
    width: 30%;
    height: 100%;
    margin: 0 auto;
}

footer .logo {
    width: 150px;
    /* background-color: greenyellow; */
    float: left;
    margin-top: 10px;
    border-right: #262362;
    border-width: 3;
    overflow: hidden;
}

footer img {
    width: 40px;
    /* background-color: goldenrod; */
    margin-top: 17px;
    margin-left: 15px;
}

.anim:hover {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }